gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
# /local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
# key.properties
# **/*.keystore  
# **/*.jks
# Note: Signing files are now tracked in Git for this project
